.row, .col {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.irow, .icol {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.col, .icol {
  flex-direction: column;

  &--reverse { flex-direction: column-reverse; }
}

.row, .irow {
  flex-direction: row;

  &--reverse { flex-direction: row-reverse; }
}

.align-center {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.align-cross-baseline { align-items: baseline; }
.align-cross-center   { align-items: center; }
.align-cross-end      { align-items: flex-end; }
.align-cross-start    { align-items: flex-start; }
.align-cross-stretch  { align-items: stretch; }

.align-main-around  { justify-content: space-around; }
.align-main-between { justify-content: space-between; }
.align-main-center  { justify-content: center; }
.align-main-end     { justify-content: flex-end; }
.align-main-start   { justify-content: flex-start; }

.align-line-around  { align-content: space-around; }
.align-line-between { align-content: space-between; }
.align-line-center  { align-content: center; }
.align-line-end     { align-content: flex-end; }
.align-line-start   { align-content: flex-start; }
.align-line-stretch { align-content: stretch; }

.singleline        { flex-wrap: nowrap; }
.multiline         { flex-wrap: wrap; }
.multiline-reverse { flex-wrap: wrap-reverse; }